{% extends "base.html" %}

{% block title %}IQAr Quality{% endblock %}

{% block content %}
<body>
<!--Menu horizontal-->
<div class="ui inverted menu">
    <div class="ui container">
        <a href="#" class="header item">Home</a>
        <a class="item" href="https://openweathermap.org/api/air-pollution" target="_blank">API</a>
        <a class="item" href="https://www.linkedin.com/in/delucas027/" target="_blank">Linkedin</a>
    </div>
</div>

<!--Home-->
<div class="home">
    <h1 class="ui header">IQAr - Índice de Qualidade do Ar</h1>
        <p>Descubra se a qualidade do ar da sua região está adequada.</p>

<!--Dropdown-->
    <div class="ui search selection dropdown" id="estadoDropdown">
<input name="estado" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Selecione um Estado</div>
        <div class="menu">
            <div class="divider"></div>
            <div class="item" data-value="AC">Acre (AC)</div>
            <div class="item" data-value="AL">Alagoas (AL)</div>
            <div class="item" data-value="AP">Amapá (AP)</div>
            <div class="item" data-value="AM">Amazonas (AM)</div>
            <div class="item" data-value="BA">Bahia (BA)</div>
            <div class="item" data-value="CE">Ceará (CE)</div>
            <div class="item" data-value="DF">Distrito Federal (DF)</div>
            <div class="item" data-value="ES">Espírito Santo (ES)</div>
            <div class="item" data-value="GO">Goiás (GO)</div>
            <div class="item" data-value="MA">Maranhão (MA)</div>
            <div class="item" data-value="MT">Mato Grosso (MT)</div>
            <div class="item" data-value="MS">Mato Grosso do Sul (MS)</div>
            <div class="item" data-value="MG">Minas Gerais (MG)</div>
            <div class="item" data-value="PA">Pará (PA)</div>
            <div class="item" data-value="PB">Paraíba (PB)</div>
            <div class="item" data-value="PR">Paraná (PR)</div>
            <div class="item" data-value="PE">Pernambuco (PE)</div>
            <div class="item" data-value="PI">Piauí (PI)</div>
            <div class="item" data-value="RJ">Rio de Janeiro (RJ)</div>
            <div class="item" data-value="RN">Rio Grande do Norte (RN)</div>
            <div class="item" data-value="RS">Rio Grande do Sul (RS)</div>
            <div class="item" data-value="RO">Rondônia (RO)</div>
            <div class="item" data-value="RR">Roraima (RR)</div>
            <div class="item" data-value="SC">Santa Catarina (SC)</div>
            <div class="item" data-value="SP">São Paulo (SP)</div>
            <div class="item" data-value="SE">Sergipe (SE)</div>
            <div class="item" data-value="TO">Tocantins (TO)</div>
        </div>
    </div>
        <div class="results"></div>
    </div>
</div>

<!--Texto principal-->
<div class="ui container section section-light">
    <h2>IQAr no Brasil</h2>
    <div id="iqar_brasil">
        <p>
            O Índice de Qualidade do Ar (IQAr) foi estabelecido inicialmente pela Resolução Conama nº 491, de 19 de novembro de 2018. Essa Resolução, assim como os padrões de qualidade do ar no Brasil, foi atualizada pela Resolução Conama nº 506, de 5 de julho de 2024.
        </p>
        <p>
            O IQAr é uma ferramenta matemática utilizada para transformar as concentrações medidas dos diversos poluentes em um único valor adimensional, relacionando as concentrações dos poluentes monitorados aos possíveis efeitos adversos à saúde, visando facilitar a comunicação sobre a qualidade do ar à sociedade. Sua forma de cálculo e diretrizes para divulgação estão contidos na Orientação Técnica - Índice de Qualidade do Ar e também serão atualizados no Guia Técnico para o Monitoramento e Avaliação da Qualidade do ar.
        </p>
        <p>
            Adicionalmente, a Resolução Conama nº 506/24 definiu que a forma de cálculo do IQAr deveria ser atualizada até a data de 31 de dezembro de 2024. Assim, o Ministério do Meio Ambiente e Mudança do Clima, por meio do Departamento de Qualidade Ambiental (DQA), coordenou junto aos órgãos ambientais estaduais e distrital a atualização da forma de cálculo do IQAr, tendo em vista os novos padrões de qualidade do ar estabelecidos.
        </p>
    </div>
</div>

<!--Tabela IQAr-->
<div class="ui container section section-light">
    <h2>Índice de Qualidade do Ar (IQAr) - Escala Americana</h2>
    <p><em>Estamos utilizando a escala de classificação dos EUA (EPA). Veja abaixo como funciona:</em></p>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>AQI</th>
            <th>Nível</th>
            <th>Cor</th>
            <th>O₃ (8h)</th>
            <th>O₃ (1h)</th>
            <th>PM₂.₅ (24h)</th>
            <th>PM₁₀ (24h)</th>
            <th>CO (8h)</th>
            <th>SO₂</th>
            <th>NO₂ (1h)</th>
        </tr>
    </thead>
        <tbody>
            <tr>
                <td>050</td>
                <td>Bom</td>
                <td style="background:#28a745"></td>
                <td>054</td>
                <td>-</td>
                <td>0.012.0</td>
                <td>054</td>
                <td>0.04.4</td>
                <td>035 (1h)</td>
                <td>053</td>
            </tr>
            <tr>
                <td>151200</td>
                <td>Insalubre</td>
                <td style="background:#ffc107"></td>
                <td>86105</td>
                <td>165204</td>
                <td>55.5-150.4</td>
                <td>255-354</td>
                <td>12.5-15.4</td>
                <td>186-304 (1h)</td>
                <td>361-649</td>
            </tr>
            <tr>
                <td>201-300</td>
                <td>Muito prejudicial</td>
                <td style="background:#fd7e14"></td>
                <td>106-200</td>
                <td>205-404</td>
                <td>150.5-250.4</td>
                <td>355-424</td>
                <td>15.5-30.4</td>
                <td>305-604 (24h)</td>
                <td>650-1249</td>
            </tr>
            <tr>
                <td>301-400</td>
                <td>Perigoso</td>
                <td style="background:#dc3545"></td> 
                <td>-</td>
                <td>405-504</td>
                <td>250.5-350.4</td>
                <td>425-504</td>
                <td>30.5-40.4</td>
                <td>605-804 (24h)</td>
                <td>1250-1649</td>
            </tr>
            <tr>
                <td>401-500</td>
                <td>Perigoso / Muito perigoso</td>
                <td style="background:#6f42c1"></td> 
                <td>-</td>
                <td>505-604</td>
                <td>350.5-500.4</td>
                <td>505-604</td>
                <td>40.5-50.4</td>
                <td>805-1004 (24h)</td>
                <td>1650-2049</td>
            </tr>
        </tbody>
    </table>
</div>

<!--Texto Secundário-->
<div class="ui container section section-light">
    <h2>A poluição do ar pode causar problemas de saúde?</h2>
    <div id="texto_saude">
        <p id="texto2">
        A poluição do ar refere-se a substâncias no ar que são prejudiciais à saúde humana e/ou ao planeta como um todo. Em níveis significativos, todos os tipos de poluição do ar representam um risco de efeitos adversos à saúde. A quantidade de risco para complicações de saúde depende da saúde geral de uma pessoa, do tipo de poluente, da concentração e da duração da exposição ao ar poluído.
        </p>
        <p>
        A Organização Mundial da Saúde (OMS) considerou a poluição do ar como o maior risco ambiental à saúde em 2019, estimando que contribui para 7 milhões de mortes prematuras anualmente. Entre as crianças com menos de 15 anos, é a principal causa de morte, matando 600.000 a cada ano.
        </p>
        <p>
        A poluição do ar é descrita como um 'assassino silencioso' porque raramente é a causa direta de morte. Estima-se que 99% da população global respira ar insalubre. Embora este número varie de região para região, nenhum lugar está isento de risco. O Relatório Mundial sobre a Qualidade do Ar de 2024 descobriu que 91% dos 138 países e regiões ao redor do mundo excederam o valor da diretriz anual da OMS para PM2.5 de 5 µg/m3, com a região da Ásia Central e do Sul entre as dez cidades mais poluídas do mundo.
        </p>
    </div>

<!--Tabela com os dados da API-->
<div class="ui container section section-light" id="iqarSection">
    <h2>Qualidade do Ar Atual nas capitais do Brasil</h2>
    <p><em>Segundo a escala de classificação dos EUA (EPA):</em></p>
    <ul id="iqarList" class="city-aqi-list">
    </ul>
</div>

</body>
{% endblock %}